:root {
    --primary: #1976d2;
    --bg-darkblue: #2b3a55;
    --bg-lightblue: #e0f0ff;
    --bg-lightgray: #f8f8f8;
}

/* 比較表 */
.comparison-table {
    background-color: var(--bg-darkblue);
    color: white;
    border-radius: 15px;
    max-width: 1200px;
}
/* テーブル */
.tbl {
    width: 100%;
    table-layout: fixed;
}

.tbl thead {
    border-bottom: 2px #fff solid;
}

.tbl tr {
    border-bottom: 1px #fff solid;
}

.tbl tr:last-child {
    border-bottom: none;
}

/* Recursionの背景 */
.recursion-info {
    background-color: var(--bg-lightblue);
    color: var(--bg-darkblue);
}

.recursion-top {
    border-radius: 15px 15px 0 0;
}

.recursion-bottom {
    border-radius: 0 0 15px 15px;
}
/* バッジ */
.badge-img {
    position: absolute;
    top: -30px;
    right: 25px;
    z-index: 1;
}

/* レスポンシブ 項目ごとに縦並び*/
@media screen and (max-width: 768px) {
    /* theadとバッジを消す */
    .tbl thead,
    .badge-img {
        display: none;
    }

    .tbl td,
    .tbl th {
        display: block;
        width: 100%;
    }
    .tbl tbody th {
        background-color: var(--primary);
        border-radius: 15px 15px 0 0;
        margin-top: 2rem;
        border-style: none;
    }
    .tbl td {
        display: block;
        width: 100%;
        line-height: 2.5;
        text-align: center;
        padding: 0px 12px 0 0;
        background-color: var(--bg-lightgray);
        color: var(--bg-darkblue);
    }
    .tbl tr {
        border-bottom: none;
    }
    .tbl td:last-child {
        border-radius: 0 0 15px 15px;
    }
    .tbl td ul {
        list-style: none;
        font-size: small;
    }
    .tbl td:before {
        content: attr(data-label);
        padding: 0px 10px;
        display: block;
        margin-right: 10px;
        float: left;
    }
}
